@page
@model DealDex.WebSite.Pages.Favorite.ListModel

<div class="container-fluid">
    <form method="get" class="form-group">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <a asp-page="/Favorite/Agregar" class="btn btn-success">Add New</a>
            </div>
        </div>
    </form>
    
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-10">
            <div class="custom-card-columns">
                @foreach (var category in @Model.FavoriteProductDtos)
                {
                    <div class="custom-card">
                        <img src="@category.Image" class="custom-card-img-top" alt="Product Image">
                        <div class="custom-card-body">
                            <h5 class="custom-card-title">@category.Titulo</h5>
                            <p class="custom-card-text">Precio: @category.Precio</p>
                            <p class="custom-card-text">Cantidad: @category.Cantidad</p>
                        </div>
                        <div class="custom-card-footer">
                            <a a-asp-area="" asp-page="/Favorite/Editar" asp-route-id="@category.id"
                               class="btn btn-primary" role="button">Edit</a>
                            <a a-asp-area="" asp-page="/Favorite/Delete" asp-route-id="@category.id"
                               class="btn btn-danger" role="button">Delete</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
