@page
@model DealDex.WebSite.Pages.Suppliers.ListModel

<head>
    <link rel="stylesheet" href="~/css/ListUsers.css" />
</head>

<div class="container-fluid">
    <form method="get" class="form-group">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <button id="btnSearch" class="btn btn-primary mr-3">Search</button>
                <a asp-page="/Suppliers/Agregar" class="btn btn-success">Add New</a>
            </div>
        </div>
    </form>
    
    <div class="user-list">
        @foreach (var supplier in Model.Supplier)
        {
            <div class="user-card">
                <h3>@supplier.Nombre</h3>
                <p>@supplier.Correo</p>
                <p>@supplier.Cuidad</p>
                <p>@supplier.Direccion</p>
                <div>
                    <a asp-page="/Suppliers/Editar" asp-route-id="@supplier.id" class="btn btn-primary">Edit</a>
                    <a asp-page="/Suppliers/Delete" asp-route-id="@supplier.id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        }
    </div>
</div>
