@page
@model DealDex.WebSite.Pages.Cart.ListModel

<div class="container-fluid">
    <form method="get">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <br/>
                <button id="btnSearch" class="btn btn-primary mr-3">Search</button>
                <a asp-page="/Cart/Agregar" class="btn btn-success"> Add New</a>
            </div>
        </div>
    </form>
    
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-10">
            <div class="card-columns">
                @foreach (var category in @Model.Cart)
                {
                    <div class="card">
                        <img src="@category.Image" class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title">@category.Titulo</h5>
                            <p class="card-text">Precio: @category.Precio</p>
                            <p class="card-text">Cantidad: @category.Cantidad</p>
                        </div>
                        <div class="card-footer">
                            <a a-asp-area="" asp-page="/Cart/Editar" asp-route-id="@category.id"
                               class="btn btn-primary" role="button">Edit</a>
                            <a a-asp-area="" asp-page="/Cart/Delete" asp-route-id="@category.id"
                               class="btn btn-danger" role="button">Delete</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
