@page
@model DealDex.WebSite.Pages.Product.ListModel
<div class="container-fluid">
    <form method="get">
        <div class = "row">
            <div class = "col-md-8"></div>
            <div class = "col-md-4">
                <br/>
                <a asp-page="/Product/Agregar" class="btn btn-success"> Add New</a>
            </div>
        </div>
    </form>

    
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-10">
            <div class="product-list">
                @foreach (var category in @Model.Product)
                {
                    <div class="product-item">
                        <div class="product-info">
                            <div class="product-title">@category.Titulo</div>
                            <img src="@category.Image" alt="Product Image" class="img-thumbnail" />
                            <div class="product-price">$@category.Precio</div>
                        </div>
                        <div class="product-buttons">
                            <a asp-page="/Product/Editar" asp-route-id="@category.id" class="btn btn-primary" role="button">Edit</a>
                            <a asp-page="/Product/Delete" asp-route-id="@category.id" class="btn btn-danger" role="button">Delete</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    
</div>
