@page
@model DealDex.WebSite.Pages.Users.ListModel

<head>
    <link rel="stylesheet" href="~/css/ListUsers.css" />
</head>
<div class="container-fluid">
    <form method="get" class="form-group">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                @* <a asp-page="/Users/Agregar" class="btn btn-success">Add New</a> *@
            </div>
        </div>
    </form>
    
    <div class="user-list">
        @foreach (var user in Model.Users)
        {
            <div class="user-card">
                <h3>@user.NombreUsu</h3>
                <p>@user.Correo</p>
                <p>@user.Contraseña</p>
                <div>
                    <a asp-page="/Users/Editar" asp-route-id="@user.id" class="btn btn-primary">Edit</a>
                    <a asp-page="/Users/Delete" asp-route-id="@user.id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        }
    </div>
</div>
